<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body class="detailbody">
  <%- include('sidepanel') %>
  <div class="main">
    <h2><%= news.title %></h2>
    <div class="container">
      <p><%= news.body %></p>
    </div>
  </div>
</body>
</html>