<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>
  <%- include('sidepanel') %>
  <div class="main">
    <!-- your code here -->
    <h1>第一次企画書</h1>
    <div class="container">
      <h3>シートを選択してください。</h3>
      <ul>
        <li class="cct-l">
          <a class="cct-list" href="/proposal/edit/kihon">
            <p class="cct-title">基本情報</p>
            <p class="cct-date">提出できます</p>
          </a>
        </li>
        <li class="cct-l">
          <a class="cct-list" href="/proposal/edit/kaikei">
            <p class="cct-title">会計情報</p>
            <p class="cct-date">提出できます</p>
          </a>
        </li>
        <li class="cct-l">
          <a class="cct-list" href="/proposal/edit/kihon">
            <p class="cct-title">学校備品使用計画</p>
            <p class="cct-date">提出できません</p>
          </a>
        </li>
        <li class="cct-l">
          <a class="cct-list" href="/proposal/edit/kihon">
            <p class="cct-title">物品使用計画</p>
            <p class="cct-date">提出できません</p>
          </a>
        </li>
        <li class="cct-l">
          <a class="cct-list" href="/proposal/edit/kihon">
            <p class="cct-title">備品貸出請求</p>
            <p class="cct-date">提出できません</p>
          </a>
        </li>
        <li class="cct-l">
          <a class="cct-list" href="/proposal/edit/kihon">
            <p class="cct-title">当日活動計画</p>
            <p class="cct-date">提出できません</p>
          </a>
        </li>
        <li class="cct-l">
          <a class="cct-list" href="/proposal/edit/kihon">
            <p class="cct-title">活動場所装飾計画</p>
            <p class="cct-date">提出できません</p>
          </a>
        </li>
        <li class="cct-l">
          <a class="cct-list" href="/proposal/edit/kihon">
            <p class="cct-title">異装届</p>
            <p class="cct-date">提出できません</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>