<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>
  <%- include('sidepanel') %>
  <div class="bigmain">
    <h1>第一次企画書</h1>
    <!-- your code here -->
    <div class="container">
      <h3>会計情報<span class="must">単価・個数は半角数字で入力してください。小計は自動で計算されます。</span></h3>
      <table class="kaikei">
        <tbody>
          <tr class="kaikei-calm">
            <th>No</th>
            <th>名称</th>
            <th>単価</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
          <tr>
            <td class="number">1</td>
            <td class="syouhin">水風船</td>
            <td class="tanka">¥500</td>
            <td class="kosuu">2</td>
            <td class="syoukei">¥1,000</td>
            <td class="edit smallbtn"><a>編集</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</body>
</html>