<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>
  <%- include('sidepanel') %>
  <div class="main">
    <h1>第一次企画書</h1>
    <!-- your code here -->
    <div class="container">
      <form action="/proposal/edit/kihon" method="POST">
        <h3>会計情報</h3>
        
        <br>
        <input class="general-submit" type="submit" value="保存">
        <p class="guide">※このボタンは提出ではありません。</p>
      </form>
    </div>
    
  </div>
</body>
</html>