<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;500;600;700;800&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="sidepanel">
    <div class="title">
      <p>雄飛祭</p>
      <p>オンライン</p>
      <p>システム</p>
    </div>
    <div class="sidemenu">
      <div class="home">
        <a class="sidemenulist nowpage" href="#"><span class="material-symbols-outlined">home</span>トップ</a>
        <a class="sidemenulist" href="#"><span class="material-symbols-outlined">login</span>ログイン</a>
      </div>
    </div>
  </div>
  <div class="main">
    <h1>雄飛祭オンラインシステム</h1>
    <section>
      <h2>実行委員会からのお知らせ</h2>
      <div class="container">
        <ul>
          <li class="cct-l">
            <a class="cct-list" href="#">
              <p class="cct-title">雄飛祭オンラインシステムを公開しました。</p>
              <p class="cct-date">2021/10/10</p>
            </a>
          </li>
          <li class="cct-l">
            <a class="cct-list" href="#">
              <p class="cct-title">雄飛祭オンラインシステムを公開しました。</p>
              <p class="cct-date">2021/10/10</p>
            </a>
          </li>
          <li class="cct-l">
            <a class="cct-list" href="#">
              <p class="cct-title">雄飛祭オンラインシステムを公開しました。</p>
              <p class="cct-date">2021/10/10</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <h2>階段装飾の申請</h2>
      <div class="container">
        <div class="c-content">
          <p>階段装飾の申請用紙はこちらから印刷してください</p>
          <button type="button" class="general-button"><span class="material-symbols-outlined">open_in_new</span>申請用紙</button>
        </div>
      </div>
    </section>
    <section>
      <h2>第一次企画書の提出</h2>
      <div class="container">
        <div class="c-content">
          <p>いついつまでに第一次企画書提出しろやぼけ</p>
          <button type="button" class="general-button"><span class="material-symbols-outlined">arrow_right_alt</span>第一次企画書</button>
        </div>
      </div>
    </section>
  </div>
</body>
</html>