<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;500;600;700;800&family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="mainbody">
  <div class="sidepanel">
    <div class="title">
      <p>雄飛祭</p>
      <p>オンライン</p>
      <p>システム</p>
    </div>
    <div class="sidemenu">
      <div class="home">
        <a class="sidemenulist" href="/"><span class="material-symbols-outlined">home</span>トップ</a>
        <a class="sidemenulist nowpage" href="/login"><span class="material-symbols-outlined">login</span>ログイン</a>
      </div>
    </div>
  </div>
  <div class="main center">
    <div class="login">
      <h3>ログイン</h3>
      <form action="/login" method="post">
        <p class="guide">メールアドレス</p>
        <input class="general-input" type="text" name="email" placeholder="xxx@showa-shuei.ed.jp">
        <p class="guide">パスワード</p>
        <input class="general-input" type="password" name="password">
        <input class="general-submit" type="submit" value="ログイン">
      </form>
      
    </div>
  </div>
</body>
</html>