<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>
  <%- include('sidepanel') %>
  <div class="main">
    <!-- your code here -->
    <h1>企画書について</h1>
    <div class="container">
      現在の企画書提出状況は以下の通りです。クリックすると詳細が表示されます。
      <details class="proposal-statusbar br">
        <summary class="title"><a class="status">未割当</a>第一次企画書</summary>
        <div class="contentsmain">
          <p>まだ割り当てられていません。</p>
        </div>
      </details>
      <details class="proposal-statusbar er">
        <summary class="title"><a class="status">未提出</a>第一次企画書</summary>
        <div class="contentsmain">
          <p>まだ割り当てられていません。</p>
        </div>
      </details>
      <details class="proposal-statusbar wa">
        <summary class="title"><a class="status">審査中</a>第一次企画書</summary>
        <div class="contentsmain">
          <p>まだ割り当てられていません。</p>
        </div>
      </details>
      <details class="proposal-statusbar sc">
        <summary class="title"><a class="status">承認</a>第一次企画書</summary>
        <div class="contentsmain">
          <p>企画書は承認されました。</p>
        </div>
      </details>
      <details class="proposal-statusbar im">
        <summary class="title"><a class="status">棄却</a>第一次企画書</summary>
        <div class="contentsmain">
          <p>まだ割り当てられていません。</p>
        </div>
      </details>
    </div>
  </div>
</body>
</html>