<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>
  <%- include('sidepanel') %>
  <div class="main">
    <!-- your code here -->
    <h1>各種設定 - 登録コード</h1>
    <div class="container">
      <p class="bold-guide">現在の登録コード</p>
      <p class="guide">※このコードはページを移動すると変わります。</p>
      <h2 class="large-num"><%= code.code %></h2>
    </div>
  </div>
</body>