<div class="sidepanel">
  <div class="title">
    <p>雄飛祭</p>
    <p>オンライン</p>
    <p>システム</p>
  </div>
  <div class="sidemenu">
    <div class="home">
      <a class="sidemenulist" href="/"><span class="material-symbols-outlined">home</span>トップ</a>
      <% if(locals.isLoggedIn) { %>
      <a class="sidemenulist" href="/postnews"><span class="material-symbols-outlined">add_circle</span>お知らせ投稿</a>
      <% } else { %>
      <a class="sidemenulist" href="/login"><span class="material-symbols-outlined">login</span>ログイン</a>
      <a class="sidemenulist" href="/signup"><span class="material-symbols-outlined">new_label</span>新規登録</a>
      <% } %>
    </div>
  </div>
  <% if(locals.isLoggedIn) { %>
  <div class="hellouser">
    <p><%= locals.userName %></p>
    <p>としてログイン中</p>
    <p class="userstate"><%= locals.userStatus %></p>
  </div>
  <div>
    <a class="logout" href="/logout">ログアウト</a>
  </div>
  <% } %>
  <div class="copyright">
    <p>&copy; 2023 Yunamaki</p>
  </div>
</div>