/* font-family: 'Roboto', sans-serif; */

$cl-m-primary: #e0953a;
$cl-m-secondary: #eab97d;
$cl-m-container: #edebef;
$cl-b-primary: #f5f4f6;
$cl-b-secondary: #70637d;
$cl-noti-error: rgb(209, 36, 47);
$cl-noti-error-b: rgba(209, 36, 47, 0.12);
$cl-noti-warning: rgb(154, 103, 0);
$cl-noti-warning-b: rgba(154, 103, 0, 0.12);
$cl-noti-important: rgb(130, 80, 223);
$cl-noti-important-b: rgba(130, 80, 223, 0.12);
$cl-noti-tip: rgb(23, 130, 48);
$cl-noti-tip-b: rgba(23, 130, 48, 0.12);
$cl-noti-note: rgb(13, 103, 221);
$cl-noti-note-b: rgba(13, 103, 221, 0.12);
$cl-noti-black: rgb(0, 0, 0);
$cl-noti-black-b: rgba(0, 0, 0, 0.12);
$cl-btn-hover: #fff7ee;

@mixin notifiError {
  box-sizing: border-box;
  padding: 8px 16px;
  margin-bottom: 16px;
  line-height: 2;
  font-size: 14px;
  border-left: 0.25em solid $cl-noti-error;
  h3 {
    display: flex;
    align-items: center;
    line-height: 1;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 700;
    color: $cl-noti-error;
    margin-bottom: 16px;
  }
}

@mixin container {
  background-color: #fff;
  border: 1px solid $cl-m-container;
  box-shadow: 0 8px 16px 0 $cl-m-container;
  padding: 32px;
  border-radius: 10px;
  .guide {
    color: #2d2832;
    margin-bottom: 0.5em;
    font-size: 14px;
    justify-content: center;
  }
  .bold-guide{
    font-weight: 700;
    color: #2d2832;
    margin-bottom: 0.3em;
    font-size: 16px;
    justify-content: center;
  }
  .large-num{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.3em;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: $cl-b-primary;
  display: flex;
  color: #000;
  a {
    text-decoration: none;
    color: inherit;
  }
  .material-symbols-outlined {
    margin-right: 3px;
  }
  .main {
    min-height: 100vh;
    box-sizing: border-box;
    width: 1000px;
    margin: 64px auto 0 auto;
    margin-left: 230px;
    padding: 0 36px;
    .container {
      @include container;
    }
  }
  .bigmain {
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    margin: 64px auto 0 auto;
    margin-left: 230px;
    padding: 0 36px;
    .container {
      @include container;
    }
  }
  section {
    margin-bottom: 48px;
  }
  h1 {
    color: $cl-m-primary;
    margin-bottom: 20px;
  }
  h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  h3 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  textarea {
    resize: none;
  }
}

.sidepanel {
  position: fixed;
  left: 0;
  background-color: #fff;
  width: 230px;
  height: 100vh;
  .title {
    padding: 15px 16px 20px 32px;
    padding-bottom: 20px;
    color: $cl-m-primary;
    font-weight: 700;
    font-size: 21px;
    line-height: 16px;
    cursor: pointer;
  }
  .sidemenu {
    position: relative;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: $cl-b-secondary;
    .sidemenulist {
      box-sizing: border-box;
      align-items: center;
      width: 100%;
      display: inline-flex;
      vertical-align: middle;
      height: 50px;
      /* display: block; */
      padding: 5px 16px 5px 32px;
      text-decoration: none;
      color: $cl-b-secondary;
      &:hover {
        background-color: $cl-b-primary;
      }
    }
    .sidemenuguide{
      cursor: default;
      box-sizing: border-box;
      align-items: center;
      font-size: 14px;
      color: $cl-b-secondary;
      padding: 4px 16px 1px 32px;
      height: 30px;
      width: 100%;
      display: inline-flex;
      vertical-align: middle;
      margin: 0;
      margin-top: 10px;
    }
    .nowpage {
      color: $cl-m-primary;
      border-right: 5px solid $cl-m-primary;
    }
  }
  .hellouser {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 5px 0 ;
    font-size: 14px;
    line-height: 10px;
    position: absolute;
    bottom: 110px;
    font-weight: 700;
    &::after{
      border-bottom: 2px solid $cl-m-primary;
      content: "";
      height: 1px;
      left: 1.5rem;
      position: absolute;
      right: 1.5rem;
      top: 0;
      text-align: center;
      justify-content: center;
    }
    .userstate {
      align-items: center;
      width: min-content;
      font-family: 'Roboto', sans-serif;
      margin-top: 2px;
      font-size: 14px;
      padding: 3px 6px;
      background-color: #fbf4eb;
      color: $cl-m-primary;
      border-radius: 0.2rem;
      font-weight: 500;
      line-height: 1.2rem;
      text-align: center;
      display: inline-block;
    }
  }
  .logout {
    box-sizing: border-box;
    align-items: center;
    text-decoration: none;
    width: 80%;
    font-size: 14px;
    align-items: center;
    background-color: #fff;
    color: #000000;
    border: 2px solid #efefef;
    border-radius: 6px;
    padding: 0 40px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      background-color: #efefef;
    }
  }
  .copyright{
    cursor: default;
    position: absolute;
    justify-content: center;
    bottom: 40px;
    height: 20px;
    width: 100%;
    text-align: center;
    color: $cl-b-secondary;
    font-size: 14px;
  }
  .sidefooter {
    background-color: #fff;
    z-index: 10;
  }
}

.cct-list {
  text-decoration: none;
  border-top: 1px solid #efedeb;
  border-bottom: 1px solid #efedeb;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  text-decoration: none;
  color: inherit;
  &:hover {
    background-color: $cl-b-primary;
  }
  p {
    margin: 0;
    line-height: 21px;
  }
  .cct-title {
    text-decoration: none;
    color: inherit;
  }
  .cct-date {
    margin-left: auto;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #000000;
  }
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}



.login {
  @include container;
  width: 400px;
}

.center {
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
}

.guide {
  color: #2d2832;
  margin-bottom: 0.5em;
  font-size: 14px;
  justify-content: center;
}

.general-input {
  font-family: 'Roboto', sans-serif;
  width: 360px;
  background-color: $cl-b-primary;
  height: 48px;
  padding: 0 1em;
  outline: none;
  border-radius: 10px;
  border: 2px solid transparent;
  &:focus {
    border: 2px solid $cl-m-primary;
  }
}

.long {
  width: 500px;
}

.small {
  width: 150px;
}

.general-select {
  width: 360px;
  background-color: $cl-b-primary;
  height: 48px;
  padding: 0 1em;
  outline: none;
  border-radius: 10px;
  border: 2px solid transparent;
  &:focus {
    border: 2px solid $cl-m-primary;
  }
}

.area-input {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  background-color: $cl-b-primary;
  height: 360px;
  padding: 1em 1em;
  outline: none;
  border-radius: 10px;
  border: 2px solid transparent;
  &:focus {
    border: 2px solid $cl-m-primary;
  }
}

.must {
  color: #ec0000;
  font-size: 12px;
  margin: 0 5px;
}

.general-button {
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  color: $cl-m-primary;
  border: 2px solid $cl-m-primary;
  border-radius: 10px;
  height: 48px;
  padding: 0 40px;
  box-shadow: 0 4px 12px 0 $cl-m-secondary;
  transition: background-color 150ms, color 150ms;
  &:hover {
    background-color: #fff7ee;
  }
}

.general-submit {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  background-color: #fff;
  color: $cl-m-primary;
  font-size: 16px;
  outline: none;
  border: 2px solid $cl-m-primary;
  height: 48px;
  padding: 0 40px;
  outline: none;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  transition: all 150ms;
  &:hover {
    background-color: $cl-m-primary;
    color: #fff;
  }
}

.error {
  @include notifiError();
  .errormessage {
    margin: 0;
  }
}

.proposal-statusbar {
  padding-right: 30px;
  margin: 10px 0;
  width: 80%;
  margin: 10px 0;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  .title {
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  .status{
    margin: 3px;
    margin-right: 12px;
    padding: 4px 6px;
    border-radius: 3px;
    color: white;
  }
  .contentsmain {
    padding: 0 0 5px 15px;
    font-size: 14px;
    line-height: 1.5;
  }
}

.er {
  border-left: $cl-noti-error 4px solid;
  background-color: $cl-noti-error-b;
  .title {
    color: $cl-noti-error;
  }
  .status {
    background-color: $cl-noti-error;
  }
}

.wa {
  border-left: $cl-noti-warning 4px solid;
  background-color: $cl-noti-warning-b;
  .title {
    color: $cl-noti-warning;
  }
  .status {
    background-color: $cl-noti-warning;
  }
}

.sc {
  border-left: $cl-noti-tip 4px solid;
  background-color: $cl-noti-tip-b;
  .title {
    color: $cl-noti-tip;
  }
  .status {
    background-color: $cl-noti-tip;
  }
}

.im {
  border-left: $cl-noti-important 4px solid;
  background-color: $cl-noti-important-b;
  .title {
    color: $cl-noti-important;
  }
  .status {
    background-color: $cl-noti-important;
  }
}

.br {
  border-left: $cl-noti-black 4px solid;
  background-color: $cl-noti-black-b;
  .title {
    color: $cl-noti-black;
  }
  .status {
    background-color: $cl-noti-black;
  }
}

.no {
  border-left: $cl-noti-note 4px solid;
  background-color: $cl-noti-note-b;
  .title {
    color: $cl-noti-note;
  }
  .status {
    background-color: $cl-noti-note;
  }
}

.proq{
  display: flex;
  align-items: center;
  
}

.smallbtn {
  margin: 20px 0 10px 0;
}

.smallbtn a {
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  height: 32px;
  padding: 0 20px;
  margin-right: 10px;
  transition: background-color 150ms, color 150ms;
  &:hover {
    background-color: #f7f7f7;
  }
}

.kaikei {
  width: 90%;
  td {
    border-bottom: 1px solid #efedeb;
    border-top: 1px solid #efedeb;
    padding: 10px 0;
  }
  .number {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 5%;
  }
  .syouhin {
    width: 40%;
  }
  .tanka {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 10%;
  }
  .kosuu {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 10%;
  }
  .syoukei {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 20%;
  }
  .edit {
    width: 15%;
  }
}