
/* font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: #f5f4f6;
}

body {
  display: flex;
  color: #000000;
}

a {
  color: inherit;
}

.detailbody {
  margin: 0;
}

.sidepanel {
  position: fixed;
  left: 0;
  background-color: #fff;
  width: 230px;
  height: 100vh;
  /* box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.4); */
}

.title {
  padding: 15px 16px 20px 32px;
  padding-bottom: 20px;
  color: #e0953a;
  font-weight: 700;
  font-size: 21px;
  line-height: 16px;
  cursor: pointer;
}

.sidemenu {
  position: relative;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #70637d;
}

.sidemenulist {
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  display: inline-flex;
  vertical-align: middle;
  height: 50px;
  /* display: block; */
  padding: 5px 16px 5px 32px;
  text-decoration: none;
  color: #70637d;
}

.sidemenulist:hover {
  background-color: #f5f4f6;
}

.nowpage {
  color: #e0953a;
  border-right: 5px solid #e0953a;
}

.material-symbols-outlined {
  margin-right: 3px;
}

/* @media 1250px */

.main {
  min-height: 100vh;
  box-sizing: border-box;
  width: 1000px;;
  margin: 64px auto 0 auto;
  margin-left: 230px;
  padding: 0 36px;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 48px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

h3 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.container {
  background-color: #fff;
  border: 1px solid #edebef;
  box-shadow: 0 8px 16px 0 #edebef;
  padding: 32px;
  border-radius: 10px;
}

.general-button {
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  color: #e0953a;
  border: 2px solid #e0953a;
  border-radius: 10px;
  height: 48px;
  padding: 0 40px;
  box-shadow: 0 4px 12px 0 #eab97d;
  transition: background-color 150ms, color 150ms;
}

.general-button:hover {
  background-color: #fff7ee;
}

.cct-list {
  text-decoration: none;
  border-top: 1px solid #efedeb;
  border-bottom: 1px solid #efedeb;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}


.cct-list{
  text-decoration: none;
  color: inherit;
}

.cct-list:hover {
  background-color: #f5f4f6;
}

.cct-list p {
  margin: 0;
  line-height: 21px;
}

.cct-title {
  text-decoration: none;
  color: inherit;
}

.cct-date {
  margin-left: auto;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #70637d;
}

.login {
  background-color: #fff;
  border: 1px solid #edebef;
  box-shadow: 0 8px 16px 0 #edebef;
  padding: 32px;
  border-radius: 10px;
  width: 400px;
}

.center {
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
}

.guide {
  color: #2d2832;
  margin-bottom: 0.5em;
  font-size: 14px;
  justify-content: center;
}

.general-input {
  font-family: 'Roboto', sans-serif;
  width: 360px;
  background-color: #f5f4f6;
  height: 48px;
  padding: 0 1em;
  outline: none;
  border-radius: 10px;
  border: 2px solid transparent;
}

.general-input:focus {
  border: 2px solid #e0953a;
}

.must {
  color: #ec0000;
  font-size: 12px;
  margin: 0 5px;
}

.general-submit {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  background-color: #e0953a;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: 2px solid transparent;
  height: 48px;
  padding: 0 40px;
  outline: none;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
}

.general-submit:hover {
  background-color: #e2a150;
}

.copyright{
  cursor: default;
  position: absolute;
  justify-content: center;
  bottom: 40px;
  height: 20px;
  width: 100%;
  text-align: center;
  color: #70637d;
  font-size: 14px;
}

.hellouser {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 5px 0 ;
  font-size: 14px;
  line-height: 10px;
  position: absolute;
  bottom: 110px;
  font-weight: 700;
}

.hellouser::after{
  border-bottom: 2px solid #e0953a;
  content: "";
  height: 1px;
  left: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 0;
  text-align: center;
  justify-content: center;
}

.userstate {
  align-items: center;
  width: min-content;
  font-family: 'Roboto', sans-serif;
  margin-top: 2px;
  font-size: 14px;
  padding: 3px 6px;
  background-color: #fbf4eb;
  color: #e0953a;
  border-radius: 0.2rem;
  font-weight: 500;
  line-height: 1.2rem;
  text-align: center;
  display: inline-block;
}

.logout {
  box-sizing: border-box;
  align-items: center;
  text-decoration: none;
  width: 80%;
  font-size: 14px;
  align-items: center;
  background-color: #fff;
  color: #000000;
  border: 2px solid #efefef;
  border-radius: 6px;
  padding: 0 40px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.logout:hover {
  background-color: #efefef;
}